---
import firebaseConfig from '../../../firebase.config.json'
import { Form, Fields } from '../../utility/fields';
import { initializeApp } from "firebase/app";
import { getFirestore, addDoc, collection, doc, getDoc } from "firebase/firestore";


// Initialize Firebase
const app = initializeApp(firebaseConfig);
const db = getFirestore(app);

interface Params {
  id?: string;
}


const { id } = Astro.params as Params;
const docRef = doc(db, "forms", id)
const docSnap = await getDoc(docRef);

if (!docSnap.exists()) {
  return new Response(null, {
    status: 404,
    statusText: 'Form not found!'
  });
}


if (Astro.request.method == "POST") {
  const data = await Astro.request.formData();
  const firebaseData = {}
  for (var [key, value] of data.entries()) {
    firebaseData[key] = value;
  }
  await addDoc(collection(db, "forms", id, 'submissions'), firebaseData);
}

const form = docSnap.data() as Form;
---
{ Astro.request.method == 'GET' &&
<form method="POST">
  { form.fields.map((field) => {
    return (
      <label>{field.title}
        <input type={field.type} name={field.name} />
      </label>
      <br />
    )
  }) }
  <input type="submit" />
</form>
}
{ Astro.request.method == 'POST' &&  
<h1>Form submitted successfully</h1>
}